{% extends 'proyecto/base.html' %}

{% block title %}Sobre el creador - Magic Lore Blog{% endblock %}

{% block content %}
    <h2>Sobre el creador</h2>
    <p>
        ¡Hola! Soy <strong>Luis Delgado</strong>, aunque muchos me conocen como <strong>Mantecado</strong>.
    </p>
    <p>
        Soy diseñador gráfico con más de 10 años de experiencia en el desarrollo web y el diseño UX/UI, y actualmente estoy formándome como
        desarrollador Python.
    </p>
    <p>
        Este proyecto fue creado como mi primera página en Django, donde combino mi pasión por la
        programación y el universo de Magic: The Gathering.
    </p>
    <p>
        ¡Gracias por visitar y explorar el lore mágico conmigo!
    </p>
{% endblock %}